* {
    font-family: 'Roboto Condensed', sans-serif;
}

.header-container {
    background-color: black;
}

.paint-it-black {
    background-color: black;
}

.indeximg {
    border-radius: 5px;
    filter: drop-shadow(0 0 0.25rem black);
}

.gallery {
    text-align: center;
}

.d-block {
    border-radius: 7px;
}

#team-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 2px;
}

.rb-card {
    background-color: #3671c6;
    color:white;
    font-size: 24px;;
}

.amr-card {
    background-color: #388c74;
    color: white;
    font-size: 24px;
}

.merc-card {
    background-color: #70d4bc;
    color: white;
    font-size: 24px;
}

.fer-card {
    background-color: #ff1434;
    color: white;
    font-size: 24px;
}

.alp-card {
    background-color: #2894d4;
    color: white;
    font-size: 24px;
}

.mcl-card {
    background-color: #f88424;
    color: white;
    font-size: 24px;
}

.haas-card {
    background-color: #b8bcbc;
    color: white;
    font-size: 24px;
}

.alfa-card {
    background-color: #d02c4c;
    color: white;
    font-size: 24px;
}

.alpha-card {
    background-color: #0c2c44;
    color: white;
    font-size: 24px;
}

.wil-card {
    background-color: #38bcdc;
    color: white;
    font-size: 24px;
}

/* F1 */

.display-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    color: black;
    background-color: #eeeeee;
    border-radius: 5px;
}

.recent-scores {
    font-size: 32px;
    color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    flex-grow: 1;
    padding: 8px;
}

.score:nth-child(odd) {
    background: #eeeeee;
}

.click-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    gap:10px;
    cursor: pointer;
}

.f1-lightstrip {
    position: relative;
    background-color: rgb(10, 10, 10);
    height: 450px;
    width: 120px;
    border-radius: 15px;;
}

.f1-backstrip {
    background-color: rgb(10, 10, 10);
    position: absolute;
    left: 37%;
    right: 37%;
    top: 182%;
    height: 7%;
    transform: translateY(-50%);
}

.f1-light {
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.light-on {
    background-color: red;
}